<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexGen</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" /> 
    <!-- favicon -->
    <link rel="shortcut icon" href="./assets/img/logo.PNG" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="./assets/css/master.css">
</head>
<body>

    <div class="" id="root">

        <header>
            <nav>
                <div class="nav-top">
                    <div class="container flex">
                        <div class="top-left flex" >
                            <span><i class="fas fa-clock"></i> Open Hours: Mon - Sat - 9:00 - 18:00</span>
                        </div>
                        <div class="top-right flex">
                            <ul class="flex">
                                <li><i class="fas fa-phone-alt"></i> +1 (305) 1234-5678</li>
                                <li><i class="fas fa-envelope"></i> hello@example.com</li>
                                <li><i class="fab fa-facebook-f"></i></li>
                                <li><i class="fab fa-twitter"></i></li>
                                <li><i class="fab fa-linkedin-in"></i></li>
                            </ul>
                        </div>
                    </div> 
                </div>
                <section class="bg-jumbo">
                    <div class="nav-bottom">
                        <div class="container flex">
                            <div class="logo">
                                <img src="./assets/img/logo.PNG" alt="">
                            </div>
                            <ul class="flex" >
                                <li v-for="list in listNav"><a href="">{{ list.name }}</a></li>
                                <li><a class="btn" href="">Get in touch</a></li>
                            </ul>
                        </div>
                        <div class="jumbo ">
                            <div class="infoJumbo">
                                <div class="title">
                                    <span class="titolo">Ready</span> <span class="bgTitle">Team</span>
                                </div>
                                <p>No matter what your company needs. we will be ready to assist you in the best possible way.</p>
                                <div class="btns">
                                    <button class="btn" href="">get in touch</button>
                                    <button class="btn-2">read more</button>
                                </div>
                            </div>
                        </div>  
                    </div>
                </section>
            </nav>
        </header>

        <main>
            <section class="bg-lightgreen">
                <div class="container">
                    <div class="info">
                        <span class="upper">our business areas</span>
                        <div>
                            <span class="titolo">Excellence in</span> <span class="bgTitle">Services</span>
                        </div>
                        <div class="flex">
                            <p>We are leaders in providing consultancy services with a set of cutting-edge technologies and a team of experienced and renowned professionals.These are some option that you can hire.</p>
                            <button class="btn" href="">see all</button>
                        </div> 
                    </div>
                    <div class="cards flex">
                        <div class="card">
                            <div class="icon">
                                <i class="fas fa-network-wired"></i>
                                <i class="fas fa-arrow-right"></i>
                            </div>
                            <div class="infoCard">
                                <h4>Audit & Assurance</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="icon">
                                <i class="fas fa-briefcase"></i>
                                <i class="fas fa-arrow-right"></i>
                            </div>
                            <div class="infoCard">
                                <h4>Financial Advisory</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="icon">
                                <i class="fas fa-chart-bar"></i>
                                <i class="fas fa-arrow-right"></i>
                            </div>
                            <div class="infoCard">
                                <h4> Analytics and M&A</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="icon">
                                <i class="fas fa-plane-departure"></i>
                                <i class="fas fa-arrow-right"></i>
                            </div>
                            <div class="infoCard">
                                <h4>Middle Marketing</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="icon">
                                <i class="fas fa-globe"></i>
                                <i class="fas fa-arrow-right"></i>
                            </div>
                            <div class="infoCard">
                                <h4>Legal Consulting</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="icon">
                                <i class="fas fa-inbox"></i>
                                <i class="fas fa-arrow-right"></i>
                            </div>
                            <div class="infoCard">
                                <h4>Regulatory Risk</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="bg-blue">
                <img class="bullets-1" src="./assets/img/bullets.png" alt="">
                <div class="container left">
                    <div class="infoLeft">
                        <span class="upper">about the network</span>
                        <div class="titSec">
                            <span class="Title">The</span> <span class="company">Company</span>
                        </div>
                        <p>
                            For 12 years we have been providing audit and warranty, financial advice, risk advice, taxes and related services to select clients.
                        </p>
                        <div class="cards">
                            <div class="card">
                                <h4><i class="fas fa-award"></i>Tradition</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                            </div>
                            <div class="card">
                                <h4><i class="fas fa-lock"></i>Security</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                            </div>
                            <div class="card">
                                <h4><i class="fas fa-pen-square"></i>Certificate</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                            </div>
                            <div class="card">
                                <h4><i class="fas fa-graduation-cap"></i>Exspertise</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="btns">
                            <button class="btn" href="">get in touch</button>
                            <button class="btn-3">read more</button>
                        </div>
                    </div>
                    
                </div>
                <div class="container right"></div>
                <img class="bullets-2" src="./assets/img/bullets.png" alt="">
            </section>

            <section class="bg-cards">
                <h4>we do more for everyone</h4>
                <div class="titSec">
                    <span class="titolo">Actions &</span> <span class="bgTitle">Projects</span>
                </div>
                <ul class="list">
                    <li id="firstLi">all</li>
                    <li>institutional</li>
                    <li>social</li>
                    <li>events</li>
                    <li>innovation</li>
                    <li>environment</li>
                    <li>technology</li>
                </ul>
                <div class="cards">
                    <div class="card" v-for="card in img" >
                        <i class="fas fa-arrow-right"></i>
                        <p>{{ card.text }}</p>
                        <img :src="card.name" alt="">
                        <p class="pHover">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    
                </div>
            </section>

            <section class="bg-results">
                <h4>we do more for everyone</h4>
                <div class="titSec">
                    <span class="Title">Results</span> <span class="company">in Numbers</span>
                </div>
                <div class="numbers">
                    <div class="number"><span>128</span> <br> Certifications</div>
                    <div class="number"><span>230</span> <br> Employed</div>
                    <div class="number"><span>517</span> <br> Customers</div>
                    <div class="number"><span>94</span> <br> Countries Served</div>
                </div>
            </section>

            <section class="bg-sponsor">
                <div class="containerImg">
                    <img src="./assets/img/logo-4.png" alt="">
                    <img src="./assets/img/logo-5.png" alt="">
                    <img src="./assets/img/logo-1.png" alt="">
                    <img src="./assets/img/logo-2.png" alt="">
                    <img src="./assets/img/logo-3.png" alt="">
                    <img src="./assets/img/logo-4.png" alt="">
                </div>
            </section>

            <section class="bg-form">
                <div class="container">
                    <div class="form">
                        <h4>send a message</h4>
                        <div class="titSec">
                            <span class="Title">Get in</span> <span class="touch">Touch</span>
                        </div>
                        <p>We will respond to your message as soon as possible.</p>
                        <div class="forms">
                            <form>
                                <input type="text" name="name" id="name" placeholder="Name">
                                <img src="./assets/img/image (1).png" alt="">
                                <input type="email" name="email" id="email" placeholder="Email">
                                <i class="fas fa-envelope"></i>
                                <input type="tel" name="num" id="num" placeholder="Phone">
                                <i class="fas fa-phone-alt"></i>
                                <input type="text" name="info" id="info" placeholder="More Info">
                                <img src="./assets/img/image (2).png" alt="">
                                <textarea name="" id="textArea"  placeholder="Message"></textarea>
                                <button class="btn" href="">Send</button>
                            </form>
                        </div>
                    </div>
                    <div class="example">
                        <div class="containerEx">
                            <h3>Example Inc.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                            <p>Perferendis veritatis facilis libero sunt beatae nesciunt iste nam reprehenderit ea.</p>
                            <div class="iconEx">
                                <ul>
                                    <li><i class="fas fa-phone-alt"></i> +1 (305) 1234-5678</li>
                                    <li><i class="fas fa-envelope"></i> hello@example.com</li>
                                    <li><i class="fas fa-map-marker-alt"></i>Main Avenue, 987</li>
                                </ul>
                            </div>
                            <button class="btn-2">VIEW MAP</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <section class="bg-footer">
                <div class="container">
                    <div class="leftFoot"></div>
                    <div class="rightFoot"></div>
                </div>  
            </section>
        </footer>
    
    </div>
    




    <!-- script -->
    <script src='https://cdn.jsdelivr.net/npm/vue'></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>