.bg-footer {
    width: 100%;
    height: auto;
    background-color: #111117;
    .container {
        width: 80%;
        margin: 0 auto;
        height: auto;
        display: flex;
        align-items: center;
        color: #fff;
        opacity: 0.8;
        @media all and (max-width : 500px) {
            flex-direction: column;
        }
        .leftFoot {
            width: 25%;
            @media all and (max-width : 500px) {
                width: 80%;
                margin-top: 20px;
            }
            
            img {
                width: 150px;
            }
            p {
                font-size: 0.9em;
            }
            .btn-3 {
                margin-top: 20px;
                margin-left: 0;
                cursor: pointer;
            }
            .iconEx {
                li{
                    margin-top: 10px;
                    font-size: 0.9em;
                }
                i {
                    border-radius: 50%;
                    padding-right: 10px;
                    &.fa-map-marker-alt {
                        padding-right: 15px;
                    }
                }
            }
        }
        .rightFoot {
            width: 75%;
            height: auto;
            .container {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                align-items: center;
                height: auto;
                
                ul {
                    width: 205px;
                    padding: 25px;
                    background-color: #19191F;
                    border-radius: 5px;
                    margin-top: 50px;
                    li {
                        font-size: 0.9em;
                        margin-bottom: 10px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    h4 {
                        color: #fff;
                        opacity: 1;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

.bg-footer-bottom {
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    background-color: #0D0D11;
    .container {
        width: 80%;
        margin: 0 auto;
        color: #fff;
        opacity: 0.9;
        font-size: 0.8em;
        display: flex;
        justify-content: space-between;
        p {
            margin-top: 10px;
            a {
                color: $primaryColor;
            }
        }
    }
}