.bg-footer {
    width: 100%;
    height: 300px;
    background-color: #111117;
    .container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        .leftFoot {
            width: 30%;
            height: 300px;
            
        }
        .rightFoot {
            width: 70%;
            height: 300px;
            
        }
    }
}