@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-end {
    display: flex;
    justify-content: flex-end;
}
@mixin flex-start {
    display: flex;
    justify-content: flex-start;
}