* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font_family;
}
li {
    list-style: none;
}
li:hover{
    
    cursor: pointer;
}
.btn {
    padding: 10px 15px;
    color: #fff;
    background-color: $btn-color ;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    border: 0;
}
.btn:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
}

.btn-2 {
    padding: 10px;
    color: $btn-color;
    background-color: #fff ;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid $btn-color;
    font-weight: 500;
}
.btn-3 {
    padding: 10px;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #000;
    text-decoration: none;
    border: 2px solid $btn-color;
    font-weight: 500;
    margin-left: 10px;
}
.bgTitle {
    padding: 5px;
    background-color: #D5E7E8;
    color:$primaryColor;
    border-radius: 4px;
}
.titolo {
    color: $colorTitle;
}
