
$container-width: 75%;
$btn-color : #41C457;
$primaryColor: #41C457;
$colorIconNav : #bcbebc;
$colorTitle: #21333E;
$font_family : "Poppins", sans-serif;
$font-size : 16px;
$bgCardsSections: #EEF4ED;
$bgTitle : #D5E7E8;
$colorP : #7F7F7F;

